<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-1.6.4.js"></script>
    <title>JS Bin</title>
</head>

<body>
    <div class="display"></div>
    <script>
        let searchText = 'hunger+games';
        let omdbAPI = 'https://www.omdbapi.com/?t=' + searchText + '/&apikey=ba751858';
        alert(omdbAPI);
         $.getJSON(omdbAPI, function (data) {
                var display = `Title: ${data.Title}<br> 
                Released: ${data.Released}<br>
                Ratings: [${data.Metascore/10}, ${data.Ratings[1].Value.replace('%', '')/10}, ${data.imdbRating}]<br>
                IMDB_ID: ${data.imdbID}`
                $(".display").html(display);

            });
    </script>
</body>

</html>