version: '3'
services:
  flask-app:
    container_name: flask-app
    build: app
    restart: always
    ports:
      # Port 5000 is always in use by a macOS Monterey process so we map the app to port 5001
      - 5001:5001
    volumes:
      - ./app:/app
    networks:
      - backend
    links:
      - mariadb
  
  mariadb:
    container_name: mariadb
    # Using MariaDB as there is no arm64 MySQL image (problematic for developing on Apple Silicon Macs)
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      # MYSQL_USER: user
      # MYSQL_PASSWORD: password
    ports:
      - '3306:3306'
    volumes:
      - ./data:/data
      - ./db:/docker-entrypoint-initdb.d/:ro
    networks:
      - backend

networks:
  backend: null

volumes:
  app: null
  db: null