version: '3'
services:
  flask-app:
    container_name: flask-app
    build: app
    restart: always
    ports:
      # Port 5000 is always in use by a macOS Monterey process so we map the app to port 5001
      - '5001:5000'
    volumes:
      - './app:/app'
    networks:
      - backend
    links:
      - mariadb
  
  mariadb:
    container_name: mariadb
    # Using MariaDB as there is no arm64 MySQL image (problematic for developing on Apple Silicon Macs)
    image: 'mariadb:latest'
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: MovieLensDB
    ports:
      - '3308:3306'
    volumes:
      - './db:/var/lib/mysql'
    networks:
      - backend

networks:
  backend: null

volumes:
  app: null
  db: null
